<!DOCTYPE html>
<html>
    <head>
        <style>
  .custom-navbar {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .custom-navbar a {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
  }
        </style>
    </head>
    <body>
        <div class="banner"></div>
        <nav class="custom-navbar">
            <div class="navbar-links d-flex">
                <div class="d-flex d-inline-flex">
                    <a th:href="@{/}">Filmes</a>
                </div>
                <div class="d-flex d-inline-flex">
                    <a th:href="@{/series}">Séries</a>
                </div>
            </div>
        </nav>
    </body>
</html>
